.star {
    background-image: url('../img/star4.png');
    display: inline-block;
    height: 19px;
    width: 19px;
    cursor: pointer;
}

.star.state-selected {
    background-image: url('../img/star-lit4.png');
}

tr.total td {
    background-color: #FFFFED !important;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
}

div.line_item_set {
    background: #F8FAFC;
    border: 1px solid #B5D4FE;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

textarea#property_description {
    width: 525px;
    height: 200px;
}

textarea#office_sale_comments {
    width: 580px;
    height: 200px;
}

textarea#industrial_sale_comments {
    width: 580px;
    height: 200px;
}

textarea#retail_sale_comments {
    width: 580px;
    height: 200px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea#lease_comments {
    width: 100%;
    min-height: 120px;
    margin: 5px 0;
    padding: 3px;
}

input.check_property {
    margin-bottom: 4px;
}

div.swatch {
    display: inline-block;
    width: 3px;
    height: 28px;
    float: left;
}

div.swatch-min {
    height: 22px;
    margin-left: 3px;
    float: right;
}

.nav-list li a.bucket {
    padding-bottom: 5px;
    margin-left: 1px;
    display: inline-block;
    max-width: 100%;
}

a.bucket {
    cursor: pointer;
}

/* right navbar customization */
.dropdown-menu.right {
    left: auto;
    right: 0px;
}

.dropdown-menu.right::before {
    left: auto !important;
    right: 9px;
}

.dropdown-menu.right::after {
    left: auto !important;
    right: 10px;
}

div.document {
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 9pt;
}

div.document table {
    width: 575px;
    font-size: 8pt;
}

div.document table.full {
    width: 750px;
    font-size: 8pt;
}

div.document table td {
    padding: 2px 5px 2px 10px;
}

.document tr.heading td, div.document td.heading {
    background-color: #D9D9D9;
    color: #17365D;
    font-weight: bold;
}

div.document td.title {
    background-color: #D9D9D9;
    padding-right: 60px;
}

div.document .fillin {
    color: #ff0000;
}

div.document tr.bottomborder td {
    border-bottom: 1px black solid;
}

div.document tr.topborder td {
    border-top: 1px black solid;
}

div.document td.leftborder {
    border-left: 1px black solid;
}

div.document td.rightborder {
    border-right: 1px solid black;
}

ul.sale_filters li, ul.filters li {
    list-style-type: none;
    line-height: 2;
}

ul.sale_filters li a, ul.sale_filters li a:hover, ul.filters li a, ul.filters li a:hover {
    background-color: #E0EAF1;
    color: #3E6D8E;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
}

ul.sale_filters li a.filter_show, ul.filters li a.filter_show {
    background-color: #c4dae9;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
}

div.filter {
    border: 1px #c4dae9 solid;
    padding: 10px 20px 10px 20px;
    background-color: #E0EAF1;
    margin-bottom: 15px;
}

span.filter_label {
    padding-top: 4px;
    display: inline-block;
}

a.more {
    text-align: center;
    padding: 0px 6px 6px 0px;
    margin-left: 24px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
}

a.more:hover {
    text-decoration: none;
}

th a, th a:visited {
    color: #29295F;
}

th a.up {
    background-image: url('/assets/ico/arrow_up.png');
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    padding-left: 20px;

}

th a.down {
    background-image: url('/assets/ico/arrow_down.png');
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    padding-left: 20px;
}

div#body_container {
    padding-top: 80px;
}

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    /*
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -91px;
    */
    /* Negative indent footer by it's height */
   
}

/* Set the fixed height of the footer here */
#push {
    height: 80px;
}

#footer {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;
}

div.checkbox-adjust {
    display: inline-block;
}

div.checkbox-adjust input[type=checkbox] {
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 10px;
    margin-bottom: 4px;
}

ul.tree, ul.tree ul {
    list-style-type: none;
    background: url('/assets/img/vline.png') repeat-y;
    margin: 0px 0px 0px 5px;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 30px;
    background: url('/assets/img/node.png') no-repeat 0px 5px;
    color: #369;
    font-weight: bold;
}

ul.tree li:last-child, ul.tree ul li:last-child {
    background: #fff url('/assets/img/lastnode.png') no-repeat;
}

.navbar-filtered .navbar-inner {
    background-image: linear-gradient(to bottom, #ffffff, #FFDD55);
}

div.caption {
    text-align: center;
}

span.filename {
    display: block;
}

h4.special {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* width and height can be anything, as long as they're equal */

    text-align: center;
    font-weight: bold;
    color: white;
}

td.calculated-cell {
    padding-top: 12px;
}

a[data-href], a.crm-info, a.delete, a.ps-delete {
    cursor: pointer;
}

div#property_search_categories input {
    width:254px;
}
div#property_search_zones input {
    width:257px
}
#property_search_zones > #combobox-container > ul {
    min-height: 286px !important;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.error{
    font-size: smaller;
    color: #ff0000;
}
.increased-border{
    border-top: 3px solid rgb(221, 221, 221) !important;
}
.important_text{
    font-weight: bolder;
    color: #F89406;
    font-size: 0.8em;
}
.complete_text{
    font-weight: bolder;
    color: #9d9d9d;
    font-size: 0.8em;
}

#noti_container {
    border:0px solid blue;

}
.noti_bubble {
    position: absolute;
    top: 3px;
    right: 6px;
    padding: 1px 2px;
    background-color: #F00;
    color: #FFF;
    font-weight:bolder;
    font-size: 0.65em;
    border-radius: 30px;
    width: 15px;
    height: 17px;
    line-height: 17px;
    text-align: center;
}
.preview_tasks
{
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin-left: 5px;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    line-height: 15px;
    padding: 2px;
}
.all-link
{
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
}
.valign
{
    vertical-align: top;
}
.right-float{
    float: right;
}