body {
  /* Margin bottom by footer height */
  margin-bottom: @navbar-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: @navbar-height;
  background-color: @sticky-footer-default-bg;
  padding-top: @sticky-footer-padding-top;
  border-top: 1px solid;
}
