@sticky-footer-padding-top: 10px;
@sticky-footer-default-bg:  #f5f5f5;


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-top: @navbar-height;
  padding-bottom: 30px;
  margin-bottom: @navbar-height;
}

.start-hidden {
  display: none;
}