{# src/AbsoluteValue/UserBundle/Resources/views/Default/login.html.twig #}
{% extends 'PropertyBundle:Site:base.html.twig' %}

{% block title %}Database{% endblock title %}

{% block top %}
    <div class="container login-bg">
        <div class="row">
            <div class="span4 offset4 well">
                <legend>Please Sign In</legend>
                {% if error %}
                    <div class="alert alert-error hidedelay">
                        <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
                    </div>
                {% endif %}
                <form method="POST" action="{{ path('_login_check') }}" accept-charset="UTF-8">
                    <input type="text" id="username" class="span4" name="_username" placeholder="Username">
                    <input type="password" id="password" class="span4" name="_password" placeholder="Password">
                    <label class="checkbox">
                        <input type="checkbox" name="remember" value="1"> Remember Me
                    </label><br>

                    <div class="text-center">
                        <button type="submit" name="submit" class="btn btn-info">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock top %}