<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VERA - {% block title %}Absolute Value{% endblock %}</title>

    <!-- Absolute Value Favicon -->
    <link rel="icon" href="/favicon.ico">

    <!-- Bootstrap -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) NB: And loads of other stuff too -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block onload %}{% endblock onload %}

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="primary-navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/vera.png" alt="VERA | Absolute Value Limited"> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% if app.user %}
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Properties</a></li>
                <li><a href="#">Listings</a></li>
                <li><a href="#">Rents</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Reporting</a></li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}

                {% else %}
                <li><a href="/">Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block top %} {% endblock %}

<footer class="hidden-xs">
    <div class="container">
        <p class="text-muted">
            &copy; 2013 - {{ "now"|date("Y") }} Absolute Value Limited. All rights reserved.<br /> VERA build
            no. {{ render(controller("PropertyBundle:Site:hg")) }}
        </p>
    </div>
</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="dist/js/bootstrap.min.js"></script>
{% block js %}{% endblock js %}
</body>
</html>