{# app/Resources/views/login.html.twig #}
{% extends '::base-bootstrap-3.html.twig' %}

{% block title %}Login{% endblock title %}

{% block onload %}
<script type="text/javascript">
    $(document).ready(function() {
        $("form#password_reset_request").submit(function(event) {
            event.preventDefault();

            $.ajax({
                url: "{{ path("_password_reset_request") }}",
                method: "POST",
                data: {
                    email_address: $("input#email_address").val()
                },
                success: function() {
                    $("div#password_reset_request_failure").hide();
                    $("div#password_reset_request_success").slideDown();
                },
                error: function() {
                    $("div#password_reset_request_success").hide();
                    $("div#password_reset_request_failure").slideDown();
                }
            });
        });
    });
</script>
{% endblock onload %}

{% block top %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="">Login</strong>
                </div>
                <div class="panel-body">
                    {% if error is defined and error %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        Incorrect username and/or password.
                    </div>
                    {% endif %}

                    <form class="form-horizontal" role="form" method="POST" action="{{ path('_login_check') }}">
                        <div class="form-group">
                            <label for="_username" class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="_username" name="_username" placeholder="Username / Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="_password" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="_password" name="_password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label class="">
                                        <input type="checkbox" name="_remember_me">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">Need Assistance? <button data-toggle="toggle" data-target="#reset_password_container" class="btn btn-link">Forgot Password</button>
                </div>
            </div>
            <div class="panel panel-default start-hidden" id="reset_password_container">
                <div class="panel-heading"> <strong class="">Reset Password</strong>

                </div>
                <div class="panel-body">
                    <div class="alert alert-success alert-dismissible fade in start-hidden" role="alert" id="password_reset_request_success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Success!</strong> Please check your email for further instructions.
                    </div>
                    <div class="alert alert-danger alert-dismissible fade in start-hidden" role="alert" id="password_reset_request_failure">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Oh no!</strong> We couldn't find your email address. Please contact ITS for help.
                    </div>
                    <form class="form-horizontal" role="form" method="POST" id="password_reset_request">
                        <div class="form-group">
                            <label for="email_address" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email_address" name="email_address" placeholder="Email" required="required">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock top %}

{% block js %}
<script src="/assets/js/jquery.toggleAnchor.js"></script>
{% endblock js %}