<p>Hello,</p>

<p>We received a request to reset the password associated with this email address. If you made this request, please follow
the instructions below.</p>

<p>If you did not request to have your password reset, you can safely ignore this email. We assure you that your account
details are safe.</p>

<p><strong>Click the link below to reset your password:</strong></p>
<p><a href="https://{{ app.request.host }}{{ path("_password_reset", {"token" : token}) }}">https://{{ app.request.host }}{{ path("_password_reset", {"token" : token}) }}</a></p>

<p>If clicking the link doesn't work, you can copy and paste the link into your browser's address window, or retype it
there.</p>

<p><strong>Thank you for using VERA<br><a href="https://vera.absolutevalue.co.nz/">Absolute Value - VERA</a></strong></p>
