{% spaceless %}
    <script type="text/template" id="file-uploader-template">
        <div class="uploader" data-dropzone="1" style="margin-top: 10px; margin-bottom: 10px">
            <div class="controls" style="margin-bottom: 20px">
                <input type="file" data-files="1" multiple />
      <span class="spinner" data-spinner="1" style="display: none">
        <img src="{{ asset('bundles/punkavefileuploader/images/spinner.gif') }}" /> Uploading...
      </span>
            </div>
            <ul class="thumbnails" data-thumbnails="1">
                {# We populate the list via an API call #}
            </ul>
        </div>
    </script>

    {# parameters to underscore template: name, thumbnail_url, original_url #}
    <script type="text/template" id="file-uploader-file-template">
        <li data-name="<%- name %>" class="thumbnail">
            {# Some things can be thumbnailed, some things not #}
            <% if ('undefined' != typeof thumbnail_url) { %>
            <img src="<%- thumbnail_url %>" class="thumbnail-image" />
            <% } %>
            <div class="caption">
                <% if ('undefined' != typeof name) { %>
                <%  var prim = "{{ prim }}"; %>
                <% if (name==prim) { %>
                <input type="radio" checked="checked" name="primary" value="<%- name %>" />Is primary?
                <% }else { %>
                <input type="radio" name="primary" value="<%- name %>" />Is primary?
                <% } %>
                <% } %>
                <span class="filename"><%- name %></span>
                <a rel="tooltip" title="Download Original" class="download thumbnail-action btn" target="download" href="<%- url %>"><i class="icon-download"></i></a>
                {# ACHTUNG: data-action="delete" matters to javascript #}
                <a rel="tooltip" title="Delete" data-action="delete" class="delete thumbnail-action btn" href="#delete"><i class="icon-trash"></i></a>
            </div>

        </li>
    </script>
{% endspaceless %}