<li class="category" id="{{ category.id }}" data-children-ids="{{ childrenIds }}">{{ category.searchString }}<div class="pull-right"><a class="delete"><img src="/assets/img/red_x.png" alt="Remove category" style="margin-right: 25px;"><input type="hidden" name="listing_search[categories][]" value="{{ category.id }}" /></a></div></li>
