{% if sales is empty %}
<div class="alert-danger">No available sales.</div>
{% else  %}
<form action="/listings/link/{{ id }}" class="form-horizontal" method="POST" required="required">
    <select name="saleId">
        <option value>Link to sale...</option>
        {% for sale in sales %}
            <option value="{{ sale.id }}">{{ sale }}</option>
        {% endfor %}
    </select>
    <br><br>
    <button type="submit" class="btn">Link</button>
</form>
{% endif %}