{# src/AbsoluteValue/PropertyBundle/Resources/views/Rents/listings.html.twig #}
{% extends "PropertyBundle:Site:base.html.twig" %}

{% block title %}Listing Search{% endblock title %}

{% block onload %}

    <link rel="stylesheet" media="screen" href="/assets/css/jquery-ui.css"/>
    <link rel="stylesheet" media="screen" href="/assets/css/jquery.tagsinput.css" />
    <link rel="stylesheet" media="screen" href="/assets/css/home.css" />
    <link rel="stylesheet" media="screen" href="/assets/css/jquery.mCustomScrollbar.css" />


{% endblock onload %}

{% block sidebar %}
    <div id="events_container">
        <ul class="nav nav-list" id="buckets">
            <li class="nav-header">Office Buckets <a href="#modal_new_bucket" data-toggle="modal" role="button" class="pull-right"><i class="icon-plus"></i></a>
            </li>
            {% for bucket in buckets.get %}
                <li>
                    <div class="swatch" style="background-color:{{ bucket.color }};"></div>
                    <a class="bucket" data-bucket-id="{{ bucket.id }}">{{ bucket.name }}</a>
                </li>
            {% endfor %}
        </ul> <br />
    </div>
    <br>
    <div id="add_to_bucket" class="hide">
        <em>With selected, add to:</em> <select id="bucket_selection" class="input-medium">
            <h3>Sales</h3>
            {% for bucket in buckets.get %}
                <option value="{{ bucket.id }}">{{ bucket.name }}</option>
            {% endfor %}
        </select>
        <button class="btn" id="trigger_add">Add</button>
    </div>
{% endblock sidebar %}

{% block top %}
    <ul class="navbar modified">
        <div class="navbar-inner">
            <span class="brand">Listing Search</span>
            <ul class="nav pull-right">
                <li>
                    <form class="navbar-search form-search pull-right" method="POST">
                        <div class="input-append">
                            <input type="text" class="search-query" placeholder="Search" name="search_query" maxlength="50"{% if search.term is defined %} value="{{ search.term }}"{% endif %}>
                            <input type="hidden" name="search_submitted" value="true">
                            <button type="submit" class="btn">Search</button>
                        </div>
                    </form>
                </li>
                <li>
                    <a data-target="#modal_remote" role="button" data-toggle="modal" data-remote="{{ path('listing_search') }}" class="icon" href="#">
                        <i class="icon-filter"></i> </a>
                </li>
                {% if search is not null %}
                    <li>
                        <a data-toggle="modal" data-target="#modal_remote" data-remote="{{ path('save_listing_search') }}" class="icon" href="#"> <i class="icon-briefcase"></i> </a>
                    </li>
                    <li>
                        <a href="{{ path('reset_listing_search') }}" class="icon"> <i class="icon-remove"></i> </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </ul>
{% endblock top %}

{% block body %}
    
    {% if listings is empty %}
        <div class="hero-unit">
            <h1>No search results.</h1>

            <p>Unfortunately, there are no results to display. Please alter your filters and search parameters.</p>
        </div>
    {% else %}

        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th style="width:2%;"><input type="checkbox" id="check_all"></th>
                    <th style="width:8%;">Listing Date</th>
                    <th style="width:8%;">Close Date</th>
                    {#<th>Property</th>#}
                    <th style="width:15%;">Address</th>
                    <th style="width:14%;">Agent</th>
                    <th style="width:15%;">Resolved | By</th>
                    <th style="width:2%;"></th>
                    <th style="width:20%;">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for listing in listings %}
                <tr id="listing_row_{{ listing.id }}">
                    
                    <td><input type="checkbox" class="checkable check_listing" id="{{ listing.id }}"></td>
                    <td> {{ listing.listingDate|date("d-m-Y") }} </td>
                    <td> {{ listing.closeDate|date("d-m-Y") }} </td>
                    
                    <td>{{ listing.property.streetAddress1 }}<br/>{{ listing.property.suburb }}</td>
                    

                    <td>
                        <a class="crm-info" data-content='{{ render(controller("PropertyBundle:Listing:crmQuickInfo", {'id' : listing.id})) }}'>{{ listing.agent|length > 25 ? listing.agent|slice(0,25) ~ '...' : listing.agent }}</a>
                    </td>
                    <td>
                        {% if listing.resolved %}
                            <i class="icon-ok"></i>
                        {% else %}
                            <i class="icon-remove"></i>
                        {% endif %}
                        |
                        {% if listing.resolved %}
                            <strong>{{ listing.resolvedBy.username }}</strong>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    {#<td>{{ listing.property.streetAddress1 }}</td>#}
                    <td>{% for bucket in buckets.get %}
                        {% if listing.id in bucket.ListIdArray %}
                            <div class="swatch swatch-min swatch_{{ bucket.id }}" style="background-color:{{ bucket.color }};"></div>
                        {% endif %}{% endfor %}
                    </td>
                    <td>
                        <div class="pull-right">
                            <a class="btn btn-small btn-primary view-listing" value="{{ listing.id }}" href="#">Show</a>
                            <a class="btn btn-small btn-info" href="{{ path('read_property', {'slug' : listing.property.slug}) }}">View</a>
                            <a class="btn btn-small" href="{{ path('update_listing', {'id' : listing.id}) }}">Edit</a>
                            <a class="btn btn-small btn-danger confirm" data-href="{{ path('delete_listing', {'id' : listing.id}) }}">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr></tr>
                <tr id="tr_{{ listing.id }}" style="display: none;">
                    <td colspan="12" class="even span12">
                        <div class="listing_viewer" id="listing_{{ listing.id }}"></div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {% if perPage != 0 %}
                <ul>
                    <li{% if page == 1 %} class="disabled"{% endif %}><a href="#">&laquo;</a></li>
                    {% if numPages > 1 %}

                        {% if numPages > 15 %}
                            {% if page <= 7 %}
                                {% for i in 1..page+3 %}
                                    <li{% if page == i %} class="active"{% endif %}>
                                        <a href="{{ path('listings', {'page' : i}) }}">{{ i }}</a></li>
                                {% endfor %}
                                <li class="disabled"><a>...</a></li>
                                {% for i in numPages-2..numPages %}
                                    <li><a href="{{ path('listings', {'page' : i}) }}">{{ i }}</a></li>
                                {% endfor %}
                            {% elseif page >= numPages - 7 %}
                                {% for i in 1..3 %}
                                    <li><a href="{{ path('listings', {'page' : i}) }}">{{ i }}</a></li>
                                {% endfor %}
                                <li class="disabled"><a>...</a></li>
                                {% for i in page-2..numPages %}
                                    <li{% if page == i %} class="active"{% endif %}>
                                        <a href="{{ path('listings', {'page' : i}) }}">{{ i }}</a></li>
                                {% endfor %}
                            {% else %}
                                {% for i in 1..3 %}
                                    <li><a href="{{ path('listings', {'page' : i}) }}">{{ i }}</a></li>
                                {% endfor %}
                                <li class="disabled"><a>...</a></li>
                                {% for i in page-3..page+3 %}
                                    <li{% if page == i %} class="active"{% endif %}>
                                        <a href="{{ path('listings', {'page' : i}) }}">{{ i }}</a></li>
                                {% endfor %}
                                <li class="disabled"><a>...</a></li>
                                {% for i in numPages-2..numPages %}
                                    <li><a href="{{ path('listings', {'page' : i}) }}">{{ i }}</a></li>
                                {% endfor %}
                            {% endif %}
                        {% else %}

                            {% for i in 1..numPages %}
                                <li{% if page == loop.index %} class="active"{% endif %}>
                                    <a href="{{ path('listings', {'page' : loop.index}) }}">{{ loop.index }}</a>
                                </li>
                            {% endfor %}

                        {% endif %}
                    {% else %}
                        <li class="disabled"><a href="#">1</a></li>
                    {% endif %}
                    <li{% if page == numPages %} class="disabled"{% endif %}><a href="#">&raquo</a></li>
                </ul>
            {% endif %}
            <ul class="pull-right" id="per_page">
                <li{% if perPage == 10 %} class="active"{% endif %}><a href="10">10</a></li>
                <li{% if perPage == 20 %} class="active"{% endif %}><a href="20">20</a></li>
                <li{% if perPage == 50 %} class="active"{% endif %}><a href="50">50</a></li>
                <li{% if perPage == 0 %} class="active"{% endif %}><a href="0">All</a></li>
            </ul>
        </div>
    {% endif %}
    <!-- New Bucket Modal -->
    <div id="modal_new_bucket" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-minus-sign"></i>
            </button>
            <h3 id="myModalLabel">Add New Bucket</h3>
        </div>
        <div class="modal-body">
            <p>
                <input type="text" placeholder="Enter a name for the bucket..." class="input-xlarge" id="new_bucket_name" maxlength="15">
                <input type="hidden" id="new_bucket_type" value="Listing">
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="save_bucket">Save changes</button>
        </div>
    </div>

{% endblock body %}

{% block js %}
<script type="text/javascript" src="/assets/js/jquery.tagPicker.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock js %}
