{% if submitted is defined %}
    <div class="alert-success" id="pageRefresh">Your search preferences have been updated.</div> <br>
{% endif %}

{{ form_start(form, {'action' : path('listing_search')}) }}
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#property_categories" data-toggle="tab">Categories</a></li>
        <li><a href="#property_tags" data-toggle="tab">Tags</a></li>
        <li><a href="#property_fields" data-toggle="tab">Search Fields</a></li>
        <li><a href="#listing_filters" data-toggle="tab">Listing Filters</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="property_categories">
            <div class="row-fluid">
                <div class="span7" id="property_search_categories">
                    <select class="combobox" id="category-picker">
                        <option value="">Select Category</option>
                        {% for key, category in categories.get %}
                            <option value="{{ key }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span2">
                    <a class="btn btn-success" id="listing-search-add-category" data-url="{{ path('listing_categories') }}" style="margin-bottom: 10px;"><i class="icon-white icon-plus"></i> Add</a>
                </div>

            </div>
            <div class="row-fluid">
                <ul id="categories">
                    <li id="no-categories"{% if form.categories is not empty %} class="hide"{% endif %}>Currently viewing all categories.</li>
                    {% for category in form.categories %}
                        <li class="category" id="{{ category.vars.value }}">{{ attribute(categories.get(), category.vars.value) }}<div class="pull-right"><a class="delete"><img src="/assets/img/red_x.png" alt="Remove category" style="margin-right: 25px;">{{ form_widget(category) }}</a></div></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="tab-pane" id="property_tags">
            <div class="span4">
                <em>Limit to:</em>
            </div>
            <div class="span8">
                <div class="pull-right">
                    <button class="btn btn-mini tags_select_all" type="button">Select All</button>
                    <button class="btn btn-mini tags_deselect_all" type="button">Deselect All</button>
                </div>
            </div>
            <div class="row-fluid">
                When no tags are selected, all tags are displayed in search results.
                <div class="tagsinput" id="tags">
                    {% set enabledTags = form.tags.vars.value|split(',') %}
                    {% for tag in tagging.get('property') %}
                        <a href="#" class="toggle_tag"><span class="tag{% if tag not in enabledTags %} tag_off{% endif %}">{{ tag }}</span></a>
                    {% endfor %}
                </div>
                {{ form_widget(form.tags) }}
            </div>
        </div>
        <div class="tab-pane" id="property_fields">
            <div class="row-fluid">
                <div class="span4">
                    <em>Search On:</em>
                </div>
                <div class="span8">
                    <div class="pull-right">
                        <button class="btn btn-mini" type="button" id="fields_select_all">Select All</button>
                        <button class="btn btn-mini" type="button" id="fields_deselect_all">Deselect All</button>
                    </div>
                </div>
            </div>
            <br>

            <div class="row-fluid">
                <div class="span4">
                    <label class="checkbox">{{ form_widget(form.searchOnName) }} Name </label>
                </div>
                <div class="span4">
                    <label class="checkbox">{{ form_widget(form.searchOnStreet) }} Street </label>
                </div>
                <div class="span4">
                    <label class="checkbox">{{ form_widget(form.searchOnSuburb) }} Suburb </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label class="checkbox">{{ form_widget(form.searchOnCity) }} City </label>
                </div>
                <div class="span4">
                    <label class="checkbox">{{ form_widget(form.searchOnPostCode) }} Post Code </label>
                </div>
                <div class="span4">
                    <label class="checkbox">{{ form_widget(form.searchOnTitleNumber) }} Title Number </label>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="listing_filters">
            <div class="row-fluid">
                {{ form_label(form.minListingDate, "Listing Date") }}
                {{ form_widget(form.minListingDate, {'attr' : {'class' : 'input-small date' }}) }}
                &nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp; {{ form_widget(form.maxListingDate, {'attr' : {'class' : 'input-small date' }}) }}
            </div>
            <div class="row-fluid">
                {{ form_label(form.minCloseDate, "Expected Close Date") }}
                {{ form_widget(form.minCloseDate, {'attr' : {'class' : 'input-small date' }}) }}
                &nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp; {{ form_widget(form.maxCloseDate, {'attr' : {'class' : 'input-small date' }}) }}
            </div><br>
            <div class="row-fluid">
                <div class="span6">
                    {{ form_label(form.method, "Sale Method") }}
                    {{ form_widget(form.method, {'attr' : {'class' : 'input-medium'}}) }}
                </div>
                <div class="span6">
                    {{ form_label(form.stage, "Pipeline Stage") }}
                    {{ form_widget(form.stage, {'attr' : {'class' : 'input-medium'}}) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    {{ form_label(form.haveIm, "Do we have the I.M?") }}
                    {{ form_widget(form.haveIm, {'attr' : {'class' : 'input-medium'}}) }}
                </div>
                <div class="span6">
                    {{ form_label(form.sold, "Resulted in Sale?") }}
                    {{ form_widget(form.sold, {'attr' : {'class' : 'input-medium'}}) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    {{ form_label(form.resolved, "Is Resolved?") }}
                    {{ form_widget(form.resolved, {'attr' : {'class' : 'input-medium'}}) }}
                </div>
            </div>

        </div>
    </div>

</div>



{{ form_end(form) }}

<script type="text/javascript">
    $("div#property_tags").tagPicker({
        formInput: "#listing_search_tags"
    });

    $("a#listing-search-add-category").categoryPicker();

    $("select.combobox").combobox();
</script>