{# src/AbsoluteValue/PropertyBundle/Resources/views/Listing/update.html.twig #}
{% extends 'PropertyBundle:Site:base.html.twig' %}

{% block title %}Add Listing Details{% endblock title %}



{% block body %}
    <div class="page-header">
        <h1>Listing Details
            <small>| {{ property.name }}</small>
        </h1>
    </div>

    {{ form_start(form, {'attr' : {'class' : 'form-horizontal' }}) }}

    {{ form_errors(form) }}

    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                {{ form_label(form.listingDate, "Listing Date", {'label_attr' : {'class' : 'control-label' }}) }}
                <div class="controls">
                    {{ form_widget(form.listingDate) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.method, "Method of Sale", {'label_attr' : {'class' : 'control-label' }}) }}
                <div class="controls">
                    {{ form_widget(form.method) }}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        {{ form_widget(form.im) }} Have Information Memorandum?
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {#{{ form_widget(form.description) }}#}
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                {{ form_label(form.closeDate, "Expected Close Date", {'label_attr' : {'class' : 'control-label' }}) }}
                <div class="controls">
                    {{ form_widget(form.closeDate) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.stage, "Pipeline Stage", {'label_attr' : {'class' : 'control-label' }}) }}
                <div class="controls">
                    {{ form_widget(form.stage) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="control-group">
            <div class="controls">
                {{ form_widget(form.description, { 'attr': {'placeholder' : "Copy and paste listing details and area breakdown"} }) }}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <br>
        <hr>
        <div class="span1">
            &nbsp;
        </div>
        <div class="well span10 crm">
            <h4>CRM Relationships
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success collection" role="button" data-target="div#listing_relationships"{% if form.relationships %} data-index="{{ form.relationships|length }}"{% endif %}><i class="icon-white icon-plus"></i> Add</a></h4>
            {{ form_widget(form.relationships) }}
        </div>
    </div>
    <hr>
    <div class="text-center">
        {{ form_widget(form.save, {'attr' : {'class': 'btn' }}) }}
    </div>

    {{ form_end(form) }}

{% endblock body %}

{% block js %}
    <script src="/assets/js/jquery.formCollection.js"></script>
    <script src="/assets/js/wysihtml5-0.3.0.min.js"></script>
    <script src="/assets/js/bootstrap-wysihtml5-0.0.2.min.js"></script>
    <script src="/assets/js/crm.js"></script>
{% endblock js %}
